openapi: 3.0.3
info:
  title: Krea AI API
  description: |
    Krea AI provides unified access to 40+ state-of-the-art generative AI models for
    image, video, 3D, and image-enhancement through a single REST API. All generation
    endpoints are asynchronous: they return a job object immediately; poll the `/jobs/{id}`
    endpoint (or supply an `X-Webhook-URL` header) to retrieve the result.

    Authentication: Bearer token. Generate keys in the Krea dashboard.
    Base URL: https://api.krea.ai
  version: '1.0'
  contact:
    name: Krea AI
    url: https://krea.ai
servers:
  - url: https://api.krea.ai
    description: Production server
security:
  - BearerAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    # ─── Job / Task Schemas ───
    JobStatus:
      type: string
      description: Lifecycle status of a generation job.
      enum:
        - backlogged
        - queued
        - scheduled
        - processing
        - sampling
        - intermediate-complete
        - completed
        - failed
        - cancelled
    JobResult:
      type: object
      description: Output payload for a completed job.
      properties:
        urls:
          type: array
          items:
            type: string
            format: uri
          description: Output asset URLs produced by the job (images, videos, etc).
        style_id:
          type: string
          description: Style identifier. Only set for completed style-training (LoRA) jobs.
    Job:
      type: object
      description: Job object returned by generation endpoints and `/jobs/{id}`.
      required:
        - job_id
        - status
        - created_at
      properties:
        job_id:
          type: string
          format: uuid
          description: Unique job identifier.
        status:
          $ref: '#/components/schemas/JobStatus'
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the job was created.
        completed_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the job finished. Null until completion.
          nullable: true
        result:
          allOf:
            - $ref: '#/components/schemas/JobResult'
          nullable: true
          description: Job output. Null until the job finishes.
    JobList:
      type: object
      description: Paginated list of jobs.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Job'
        nextCursor:
          type: string
          nullable: true
          description: Opaque cursor to fetch the next page, or null when exhausted.

    # ─── Asset Schemas ───
    Asset:
      type: object
      description: Uploaded user asset (image/video/audio/3D model) that can be referenced in generation requests.
      required:
        - id
        - image_url
        - uploaded_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique asset identifier.
        image_url:
          type: string
          format: uri
          description: Public URL of the asset, suitable for use in generation requests.
        uploaded_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the asset was uploaded.
        width:
          type: number
          nullable: true
          description: Pixel width, when applicable (images/videos).
        height:
          type: number
          nullable: true
          description: Pixel height, when applicable.
        size_bytes:
          type: number
          nullable: true
          description: File size in bytes.
        mime_type:
          type: string
          nullable: true
          description: MIME type of the uploaded file.
        description:
          type: string
          description: Optional human-readable description provided at upload time.
        metadata:
          type: object
          additionalProperties: true
          description: Free-form metadata associated with the asset.
    AssetList:
      type: object
      description: Paginated list of assets.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Asset'
        nextCursor:
          type: string
          nullable: true
          description: Opaque cursor to fetch the next page.
    AssetUploadRequest:
      type: object
      description: Multipart upload body. `file` is binary data.
      required:
        - file
      properties:
        file:
          type: string
          format: binary
          description: "Binary file contents. Allowed: JPEG, PNG, WebP, HEIC, MP4, MOV, WebM, GLB, WAV, MP3. Max 75 MB."
        description:
          type: string
          description: Optional description to store with the asset.
    DeleteResponse:
      type: object
      description: Generic deletion acknowledgement.
      properties:
        success:
          type: boolean
        message:
          type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: string

    # ─── Common Style/Reference Building Blocks ───
    StyleImage:
      type: object
      description: Image reference with strength weighting.
      required:
        - url
        - strength
      properties:
        url:
          type: string
          format: uri
        strength:
          type: number
          description: Weight for this reference image. Range -2 to 2.
    StyleReference:
      type: object
      description: Trained style (LoRA) reference.
      required:
        - id
        - strength
      properties:
        id:
          type: string
          description: Style identifier returned by `/styles/train`.
        strength:
          type: number
          description: Weight for the style. Range -2 to 2.

    # ─── Image Generation Request Schemas ───
    # A generic "common" request that fits most text-to-image models on Krea.
    ImageGenerationRequest:
      type: object
      description: Request body accepted by most Krea text-to-image endpoints.
      required:
        - prompt
      properties:
        prompt:
          type: string
          description: Text description of the desired image.
          minLength: 1
        batchSize:
          type: number
          description: Number of images to generate in one call. Range 1-4.
          default: 1
        width:
          type: number
          description: Output width in pixels. Check each model for supported range.
        height:
          type: number
          description: Output height in pixels.
        seed:
          type: number
          description: Random seed for reproducibility.
          default: 1337
        aspectRatio:
          type: string
          description: Aspect ratio hint, when supported (e.g. '16:9', '1:1', '9:16').
        styleImages:
          type: array
          items:
            $ref: '#/components/schemas/StyleImage'
          description: Reference images weighted to steer composition/content.
        styles:
          type: array
          items:
            $ref: '#/components/schemas/StyleReference'
          description: Trained LoRA styles to apply.

    # Flux Kontext (image editing) - takes a primary imageUrl plus references.
    FluxKontextRequest:
      type: object
      description: Flux Kontext request body for image-to-image editing.
      required:
        - prompt
      properties:
        prompt:
          type: string
          maxLength: 1800
        imageUrl:
          type: string
          format: uri
          description: Primary image to edit.
        strength:
          type: number
          default: 1
        seed:
          type: number
          default: 1860966557
        steps:
          type: integer
          description: Diffusion steps. Range 1-100.
          default: 25
        width:
          type: number
          description: Range 512-2368.
          default: 1024
        height:
          type: number
          description: Range 512-2368.
          default: 1024
        guidance_scale_flux:
          type: number
          description: Prompt adherence strength. Range 0-24.
          default: 3
        relaxedModeAccess:
          type: boolean
        styleImages:
          type: array
          items:
            $ref: '#/components/schemas/StyleImage'
        imageStyleRefs:
          type: array
          items:
            $ref: '#/components/schemas/StyleImage'
          description: Style reference images.
        styles:
          type: array
          items:
            $ref: '#/components/schemas/StyleReference'

    # Nano Banana Pro (Google gemini image)
    NanoBananaProRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
          minLength: 3
        batchSize:
          type: number
          default: 1
        width:
          type: number
        height:
          type: number
        aspectRatio:
          type: string
          enum: ['21:9', '1:1', '4:3', '3:2', '2:3', '5:4', '4:5', '3:4', '16:9', '9:16']
        resolution:
          type: string
          enum: ['1K', '2K', '4K']
          default: '1K'
        imageUrls:
          type: array
          items:
            type: string
            format: uri
          description: Direct image prompts. If provided, `styleImages` is ignored.
        styleImages:
          type: array
          items:
            $ref: '#/components/schemas/StyleImage'

    # Ideogram 3.0 (adds characterReferenceImages)
    IdeogramRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
          minLength: 1
        batchSize:
          type: number
          default: 1
        width:
          type: number
          default: 1024
        height:
          type: number
          default: 1024
        seed:
          type: number
          default: 1337
        styleImages:
          type: array
          items:
            $ref: '#/components/schemas/StyleImage'
        characterReferenceImages:
          type: array
          items:
            type: string
            format: uri
          description: Reference images used to keep character identity consistent.

    # ─── Video Generation Request Schemas ───
    VideoGenerationRequest:
      type: object
      description: Request body accepted by most Krea video endpoints.
      required:
        - prompt
      properties:
        prompt:
          type: string
          description: Text description of the desired video.
        startImage:
          type: string
          format: uri
          description: Starting frame for image-to-video mode.
        endImage:
          type: string
          format: uri
          description: Ending frame (when supported by the model).
        aspectRatio:
          type: string
          description: Aspect ratio, e.g. '16:9', '9:16', '1:1'.
          default: '16:9'
        duration:
          type: number
          description: Length in seconds. Supported range varies by model.
        resolution:
          type: string
          description: Output resolution (e.g. '720p', '1080p').
        generateAudio:
          type: boolean
          description: Whether to render audio alongside the video (model-dependent).
          default: false

    KlingVideoRequest:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
        startImage:
          type: string
          format: uri
        endImage:
          type: string
          format: uri
        aspectRatio:
          type: string
          enum: ['16:9', '9:16', '1:1']
          default: '16:9'
        duration:
          type: number
          enum: [5, 10]
          default: 5
        mode:
          type: string
          enum: [master, pro]
          default: master

    Veo3Request:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
        startImage:
          type: string
          format: uri
        aspectRatio:
          type: string
          enum: ['16:9', '9:16', '1:1']
          default: '16:9'
        duration:
          type: number
          description: Range 4-8 seconds.
          default: 8
        generateAudio:
          type: boolean
          default: false
        resolution:
          type: string
          enum: ['720p', '1080p']
          default: '720p'

    Sora2Request:
      type: object
      required:
        - prompt
      properties:
        prompt:
          type: string
        startImage:
          type: string
          format: uri
        duration:
          type: number
          description: Range 4-20 seconds.
          default: 4
        aspectRatio:
          type: string
          enum: ['16:9', '9:16']
          default: '16:9'

    # ─── Enhancement Request Schemas ───
    TopazEnhanceRequest:
      type: object
      description: Topaz standard/bloom/generative enhancement request.
      required:
        - image_url
        - model
        - width
        - height
      properties:
        batchSize:
          type: number
          default: 1
        width:
          type: number
          description: Output width in pixels. Range 1-32000.
        height:
          type: number
          description: Output height in pixels. Range 1-32000.
        seed:
          type: number
          default: 1337
        prompt:
          type: string
          default: ''
        output_format:
          type: string
          enum: [png, jpg, webp]
          default: jpg
        subject_detection:
          type: string
          enum: [All, Foreground, Background]
          default: All
        face_enhancement:
          type: boolean
          default: false
        face_enhancement_creativity:
          type: number
          default: 0.5
        face_enhancement_strength:
          type: number
          default: 0.5
        crop_to_fill:
          type: boolean
          default: false
        image_url:
          type: string
          format: uri
          description: Source image to enhance.
        model:
          type: string
          description: Topaz model variant.
          enum:
            - Standard V2
            - Low Resolution V2
            - CGI
            - High Fidelity V2
            - Text Refine
        upscaling_activated:
          type: boolean
          default: false
        image_scaling_factor:
          type: number
          description: Range 1-32.
          default: 1
        sharpen:
          type: number
          default: 0.5
        denoise:
          type: number
          default: 0.5
        fix_compression:
          type: number
          default: 0.5
        strength:
          type: number
          default: 0.5

    # ─── Styles (LoRA) ───
    StyleTrainRequest:
      type: object
      description: Train a custom LoRA style from a set of reference images.
      required:
        - name
        - imageUrls
      properties:
        name:
          type: string
          description: Display name for the style.
        description:
          type: string
        imageUrls:
          type: array
          items:
            type: string
            format: uri
          description: Training images (URLs to uploaded Krea assets work best).
    Style:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
          description: Training status (e.g. training, ready, failed).
        created_at:
          type: string
          format: date-time
    StyleList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Style'
        nextCursor:
          type: string
          nullable: true
    StyleShareLink:
      type: object
      properties:
        url:
          type: string
          format: uri

    # ─── Node Apps (visual workflows) ───
    NodeApp:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        inputs:
          type: object
          additionalProperties: true
    NodeAppExecuteRequest:
      type: object
      description: Execute a visual "Node App" workflow. Inputs are workflow-specific.
      properties:
        inputs:
          type: object
          additionalProperties: true
          description: Key-value map of input names to values as defined by the node app.

paths:
  # ─── Job management ─────────────────────────────────────────────────────────
  /jobs:
    get:
      operationId: listJobs
      summary: List jobs
      description: Lists generation jobs for the authenticated account with pagination.
      tags: [Jobs]
      parameters:
        - name: cursor
          in: query
          description: Pagination cursor (ISO 8601 timestamp; returns jobs created before it).
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          description: Items to return. Range 1-1000.
          schema: { type: integer, default: 100 }
        - name: types
          in: query
          description: Comma-separated job-type filter (e.g. "flux,externalImage").
          schema: { type: string }
        - name: status
          in: query
          description: Filter by job status.
          schema:
            $ref: '#/components/schemas/JobStatus'
      responses:
        '200':
          description: Paginated list of jobs.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JobList' }
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
  /jobs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Job identifier.
        schema: { type: string, format: uuid }
    get:
      operationId: getJob
      summary: Get a job by ID
      description: Retrieves the current status and (if completed) output of a job.
      tags: [Jobs]
      responses:
        '200':
          description: The job.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '404':
          description: Job not found.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    delete:
      operationId: deleteJob
      summary: Delete a job by ID
      description: Deletes a job. Completed output assets may still be accessible via their URLs.
      tags: [Jobs]
      responses:
        '200':
          description: Job deleted.
        '404':
          description: Job not found.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  # ─── Asset management ───────────────────────────────────────────────────────
  /assets:
    get:
      operationId: listAssets
      summary: List assets
      tags: [Assets]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 100 }
        - name: cursor
          in: query
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: Paginated list of assets.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetList' }
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    post:
      operationId: uploadAsset
      summary: Upload an asset
      description: |
        Uploads a binary file (image, video, audio, or 3D model) to the account. Returns an
        `Asset` whose `image_url` can be referenced in generation requests. Accepts JPEG, PNG,
        WebP, HEIC, MP4, MOV, WebM, GLB, WAV, MP3 up to 75 MB.
      tags: [Assets]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: '#/components/schemas/AssetUploadRequest' }
      responses:
        '200':
          description: Asset uploaded.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '400':
          description: Invalid file type or size.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
  /assets/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Asset identifier.
        schema: { type: string, format: uuid }
    get:
      operationId: getAsset
      summary: Get an asset
      tags: [Assets]
      responses:
        '200':
          description: The asset.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '404':
          description: Asset not found.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    delete:
      operationId: deleteAsset
      summary: Delete an asset
      tags: [Assets]
      responses:
        '200':
          description: Asset deleted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeleteResponse' }
        '404':
          description: Asset not found.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  # ─── Image generation ───────────────────────────────────────────────────────
  /generate/image/bfl/flux-1-dev:
    post:
      operationId: generateFlux
      summary: Generate image with Flux (BFL)
      tags: [Image]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ImageGenerationRequest' }
      responses:
        '200':
          description: Job created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
  /generate/image/bfl/flux-1.1-pro:
    post:
      operationId: generateFlux11Pro
      summary: Generate image with Flux 1.1 Pro
      tags: [Image]
      parameters:
        - name: X-Webhook-URL
          in: header
          description: Optional webhook URL that Krea will POST to when the job completes.
          schema: { type: string, format: uri }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ImageGenerationRequest' }
      responses:
        '200':
          description: Job created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
  /generate/image/bfl/flux-1.1-pro-ultra:
    post:
      operationId: generateFlux11ProUltra
      summary: Generate image with Flux 1.1 Pro Ultra
      tags: [Image]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ImageGenerationRequest' }
      responses:
        '200':
          description: Job created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
  /generate/image/bfl/flux-1-kontext-dev:
    post:
      operationId: generateFluxKontext
      summary: Edit image with Flux Kontext
      description: Image-editing endpoint - takes a source `imageUrl` plus a text prompt describing the desired edit.
      tags: [Image]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FluxKontextRequest' }
      responses:
        '200':
          description: Job created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
  /generate/image/ideogram/ideogram-2-turbo:
    post:
      operationId: generateIdeogram2Turbo
      summary: Generate image with Ideogram 2.0A Turbo
      tags: [Image]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ImageGenerationRequest' }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/ideogram/ideogram-3:
    post:
      operationId: generateIdeogram3
      summary: Generate image with Ideogram 3.0
      tags: [Image]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IdeogramRequest' }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/google/imagen-3:
    post:
      operationId: generateImagen3
      summary: Generate image with Imagen 3
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/google/imagen-4:
    post:
      operationId: generateImagen4
      summary: Generate image with Imagen 4
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/google/imagen-4-fast:
    post:
      operationId: generateImagen4Fast
      summary: Generate image with Imagen 4 Fast
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/google/imagen-4-ultra:
    post:
      operationId: generateImagen4Ultra
      summary: Generate image with Imagen 4 Ultra
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/google/nano-banana:
    post:
      operationId: generateNanoBanana
      summary: Generate image with Nano Banana
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/google/nano-banana-2:
    post:
      operationId: generateNanoBanana2
      summary: Generate image with Nano Banana 2
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/google/nano-banana-pro:
    post:
      operationId: generateNanoBananaPro
      summary: Generate image with Nano Banana Pro
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/NanoBananaProRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/qwen/2512:
    post:
      operationId: generateQwen2512
      summary: Generate image with Qwen 2512
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/runway/gen-4-image:
    post:
      operationId: generateRunwayGen4Image
      summary: Generate image with Runway Gen-4
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/bytedance/seededit:
    post:
      operationId: generateSeedEdit
      summary: Edit image with SeedEdit (ByteDance)
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/FluxKontextRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/bytedance/seedream-3:
    post:
      operationId: generateSeedream3
      summary: Generate image with Seedream 3
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/bytedance/seedream-4:
    post:
      operationId: generateSeedream4
      summary: Generate image with Seedream 4
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/bytedance/seedream-5-lite:
    post:
      operationId: generateSeedream5Lite
      summary: Generate image with Seedream 5 Lite
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/z-image/z-image:
    post:
      operationId: generateZImage
      summary: Generate image with Z Image
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/image/openai/gpt-image:
    post:
      operationId: generateChatGptImage
      summary: Generate image with ChatGPT Image (OpenAI)
      tags: [Image]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ImageGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }

  # ─── Image enhancement / upscaling ──────────────────────────────────────────
  /generate/enhance/topaz/standard-enhance:
    post:
      operationId: enhanceTopazStandard
      summary: Enhance image with Topaz (standard)
      tags: [Enhance]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/TopazEnhanceRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/enhance/topaz/bloom-enhance:
    post:
      operationId: enhanceTopazBloom
      summary: Enhance image with Topaz Bloom
      tags: [Enhance]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/TopazEnhanceRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/enhance/topaz/generative-enhance:
    post:
      operationId: enhanceTopazGenerative
      summary: Enhance image with Topaz Generative
      tags: [Enhance]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/TopazEnhanceRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }

  # ─── Video generation ───────────────────────────────────────────────────────
  /generate/video/minimax/hailuo:
    post:
      operationId: generateHailuo
      summary: Generate video with Hailuo (MiniMax)
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/minimax/hailuo-02:
    post:
      operationId: generateHailuo02
      summary: Generate video with Hailuo 02
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/minimax/hailuo-2.3:
    post:
      operationId: generateHailuo23
      summary: Generate video with Hailuo 2.3
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/minimax/hailuo-2.3-fast:
    post:
      operationId: generateHailuo23Fast
      summary: Generate video with Hailuo 2.3 Fast
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/kling/kling-1:
    post:
      operationId: generateKling1
      summary: Generate video with Kling 1.0
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/KlingVideoRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/kling/kling-1.5:
    post:
      operationId: generateKling15
      summary: Generate video with Kling 1.5
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/KlingVideoRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/kling/kling-1.6:
    post:
      operationId: generateKling16
      summary: Generate video with Kling 1.6
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/KlingVideoRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/kling/kling-2:
    post:
      operationId: generateKling2
      summary: Generate video with Kling 2.0
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/KlingVideoRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/kling/kling-2.1:
    post:
      operationId: generateKling21
      summary: Generate video with Kling 2.1
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/KlingVideoRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/kling/kling-2.5:
    post:
      operationId: generateKling25
      summary: Generate video with Kling 2.5
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/KlingVideoRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/kling/kling-2.6:
    post:
      operationId: generateKling26
      summary: Generate video with Kling 2.6
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/KlingVideoRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/kling/kling-o1:
    post:
      operationId: generateKlingO1
      summary: Generate video with Kling o1
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/KlingVideoRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/luma/ray-2:
    post:
      operationId: generateRay2
      summary: Generate video with Ray 2 (Luma)
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/runway/aleph:
    post:
      operationId: generateRunwayAleph
      summary: Generate video with Runway Aleph
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/runway/gen-3:
    post:
      operationId: generateRunwayGen3
      summary: Generate video with Runway Gen-3
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/runway/gen-4-video:
    post:
      operationId: generateRunwayGen4Video
      summary: Generate video with Runway Gen-4
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/runway/gen-4.5:
    post:
      operationId: generateRunwayGen45
      summary: Generate video with Runway Gen-4.5
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/bytedance/seedance-2:
    post:
      operationId: generateSeedance2
      summary: Generate video with Seedance 2.0
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/bytedance/seedance-2-fast:
    post:
      operationId: generateSeedance2Fast
      summary: Generate video with Seedance 2.0 Fast
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/bytedance/seedance-1.0-lite:
    post:
      operationId: generateSeedanceLite
      summary: Generate video with Seedance Lite
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/bytedance/seedance-1.0-pro:
    post:
      operationId: generateSeedancePro
      summary: Generate video with Seedance Pro
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/bytedance/seedance-1.0-pro-fast:
    post:
      operationId: generateSeedanceProFast
      summary: Generate video with Seedance Pro Fast
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/openai/sora-2:
    post:
      operationId: generateSora2
      summary: Generate video with Sora 2 (OpenAI)
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/Sora2Request' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/google/veo-2:
    post:
      operationId: generateVeo2
      summary: Generate video with Veo 2
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/google/veo-3:
    post:
      operationId: generateVeo3
      summary: Generate video with Veo 3
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/Veo3Request' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/google/veo-3-fast:
    post:
      operationId: generateVeo3Fast
      summary: Generate video with Veo 3 Fast
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/Veo3Request' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/google/veo-3.1:
    post:
      operationId: generateVeo31
      summary: Generate video with Veo 3.1
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/Veo3Request' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/google/veo-3.1-fast:
    post:
      operationId: generateVeo31Fast
      summary: Generate video with Veo 3.1 Fast
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/Veo3Request' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/google/veo-3.1-lite:
    post:
      operationId: generateVeo31Lite
      summary: Generate video with Veo 3.1 Lite
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/Veo3Request' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/alibaba/wan-2.1:
    post:
      operationId: generateWan21
      summary: Generate video with Wan 2.1
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/alibaba/wan-2.2:
    post:
      operationId: generateWan22
      summary: Generate video with Wan 2.2
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }
  /generate/video/alibaba/wan-2.5:
    post:
      operationId: generateWan25
      summary: Generate video with Wan 2.5
      tags: [Video]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VideoGenerationRequest' } } }
      responses:
        '200': { description: Job created, content: { application/json: { schema: { $ref: '#/components/schemas/Job' } } } }

  # ─── Styles (LoRA) ──────────────────────────────────────────────────────────
  /styles:
    get:
      operationId: listStyles
      summary: Search / list styles
      tags: [Styles]
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 100 }
        - name: cursor
          in: query
          schema: { type: string }
        - name: query
          in: query
          description: Free-text search.
          schema: { type: string }
      responses:
        '200':
          description: Paginated list of styles.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StyleList' }
  /styles/train:
    post:
      operationId: trainStyle
      summary: Train a custom style (LoRA)
      tags: [Styles]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/StyleTrainRequest' } } }
      responses:
        '200':
          description: Training job created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
  /styles/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getStyle
      summary: Get a style by ID
      tags: [Styles]
      responses:
        '200':
          description: The style.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Style' }
    patch:
      operationId: updateStyle
      summary: Update a style
      tags: [Styles]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
      responses:
        '200':
          description: Updated style.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Style' }
  /styles/{id}/share/link:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getStyleShareLink
      summary: Get a shareable link for a style
      tags: [Styles]
      responses:
        '200':
          description: Shareable link.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/StyleShareLink' }
  /styles/{id}/share/workspace:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: shareStyleWithWorkspace
      summary: Share a style with the current workspace
      tags: [Styles]
      responses:
        '200':
          description: Shared.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeleteResponse' }
    delete:
      operationId: unshareStyleFromWorkspace
      summary: Remove a style from the current workspace
      tags: [Styles]
      responses:
        '200':
          description: Removed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeleteResponse' }

  # ─── Node Apps ──────────────────────────────────────────────────────────────
  /node-apps/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: Node App version identifier.
        schema: { type: string }
    get:
      operationId: getNodeApp
      summary: Get a node app by version ID
      tags: [NodeApps]
      responses:
        '200':
          description: Node app.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NodeApp' }
  /node-apps/{id}/execute:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: executeNodeApp
      summary: Execute a node app
      description: Submits execution of a node-app (visual workflow). Returns a job object.
      tags: [NodeApps]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/NodeAppExecuteRequest' } } }
      responses:
        '200':
          description: Execution job created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
